<div class='card'
     *ngIf='team'>
  <div class='card-header'>
    {{ pageTitle + ': ' + team.TeamName }}
  </div>

  <div class='card-body'>
    <div class='row'>
      <div class='col-md-8'>
        <div class='row'>
          <div class='col-md-4'>Name:</div>
          <div class='col-md-8'><input type='text' [(ngModel)]='team.TeamName' /></div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Team ID:</div>
          <div class='col-md-8'><input type='text' [(ngModel)]='team.TeamsID' /></div>
        </div>
        <div class='row'>
          <div class='col-md-4'>Seed:</div>
          <div class='col-md-8'><input type='text' [(ngModel)]='team.Seed' /></div>
        </div>
        <div class='row' *ngFor="let player of team.players; let i = index; trackBy: trackByIndex;">
          <div class='col-md-4' *ngIf="team.players.indexOf(player) == 0">Captain:</div>
          <div class='col-md-4' *ngIf="team.players.indexOf(player) != 0">Player {{ team.players.indexOf(player) + 1 }}:</div>
          <div class='col-md-8'><input type='text' [(ngModel)]= team.players[i] placeholder="player"/></div>
        </div>
        <!--<div class='row'>-->
          <!--<div class='col-md-4'>Availability:</div>-->
          <!--<div class='col-md-8'>{{team.availability}}</div>-->
        <!--</div>-->
        <!--<div class='row'>-->
          <!--<div class='col-md-4'>Price:</div>-->
          <!--<div class='col-md-8'>{{product.price|currency:'USD':'symbol'}}</div>-->
        <!--</div>-->
        <!--<div class='row'>-->
          <!--<div class='col-md-4'>5 Star Rating:</div>-->
          <!--<div class='col-md-8'>-->
            <!--<pm-star [rating]='product.starRating'>-->
            <!--</pm-star>-->
          <!--</div>-->
        <!--</div>-->
      </div>

      <!--<div class='col-md-4'>-->
        <!--<img class='center-block img-responsive'-->
             <!--[style.width.px]='200'-->
             <!--[style.margin.px]='2'-->
             <!--[src]='product.imageUrl'-->
             <!--[title]='product.productName'>-->
      <!--</div>-->
    </div>
  </div>

  <div class='card-footer'>
    <button class='btn btn-outline-secondary' (click)='onBack()'>
      <i class='fa fa-chevron-left'></i> Back
    </button>
    <button class='btn btn-outline-secondary' (click)='saveTeam()'>
      <i class='fa fa-chevron-left'></i> Save Team
    </button>
  </div>
</div>
