<div class='card'>
  <div class='card-header'>
    <div class="row">
      <div class="col-md-4">
        <h4>{{ pageTitle }}</h4>
      </div>
      <div class='col-md-4'>
        <input placeholder="Search team name..." type='text'
               [(ngModel)]='listFilter'/>
      </div>
    </div>
  </div>
  <div class='card body'>
    <div class='table responsive'>
      <table class='table'
             *ngIf='teams && teams.length'>
        <thead>
        <tr>
          <!--<th>-->
          <!--<button class = 'btn btn-primary'-->
          <!--(click) = 'toggleImage()'>-->
          <!--{{ showImage ? 'Hide' : 'Show' }} Image-->
          <!--</button>-->
          <!--</th>-->
          <th>Team</th>
          <th>Team ID</th>
          <th>Seed</th>
          <th>Captain</th>
          <!--<th>Available</th>-->
          <!--<th>Fee Paid</th>-->
          <!--<th>5 Star Rating</th>-->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor='let team of filteredTeams'>
          <!--<td>-->
          <!--<img *ngIf = 'showImage'-->
          <!--[src] = 'team.imageUrl'-->
          <!--title = {{ team.TeamName }}-->
          <!--style.width.px = {{ imageWidth }}-->
          <!--style.margin.px = {{ imageMargin }}>-->
          <!--</td>-->
          <td><a [routerLink]="['/team-manager', team.TeamsID]">{{ team.TeamName }}</a></td>
          <td>{{ team.TeamsID }}</td>
          <td>{{ team.Seed }}</td>
          <td>{{ team.captian }}</td>
          <!--<td>{{ team.availability }}</td>-->
          <!--<td>{{ team.amountPaid | currency: 'USD': 'symbol': '1.2-2'}}</td>-->
          <!--<td><pm-star-->
          <!--[rating] = "team.starRating"-->
          <!--(ratingClicked) = "onRatingClicked($event)"-->
          <!--&gt;</pm-star></td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class='card-footer'>
    <button class='btn btn-outline-primary' (click)='newTeam()'>
      Add Team
    </button>
  </div>
</div>

